/* Forms */

.form p {
    overflow: hidden;
    clear: both;
}

label {
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-right: 10px;
    vertical-align: middle;
    display:block;
}

select {
    background: #fefefe;
    border: 1px solid #bbb;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    vertical-align: middle;
    min-width: 200px;
}

input.text {
    width: 410px;
    background: #fefefe;
    border: 1px solid #bbb;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    vertical-align: middle;
}

input.text.medium {
    width: 600px;
}

input.text.big {
    width: 98%;
}

input.text.date_picker {
    width: 100px;
    padding-right: 36px;
    cursor: pointer;
    background: url(/images/admin/cal.jpg) center right no-repeat;
}

textarea {
    width: 98%;
    height: 140px;
    padding: 5px;
    background: #fefefe;
    border: 1px solid #bbb;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

textarea.wysiwyg {
    width: 98%;
    padding: 0;
}

input.radio,
input.checkbox {
    vertical-align: middle;
}

/* Custom form select element */



.cmf-skinned-select {
    padding: 7px;
    display: block;
    margin-right: 20px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url('/images/admin/sdd.jpg') center right no-repeat;
}

.cmf-skinned-select:hover {
    background: url('/images/admin/sdd_.jpg') center right no-repeat;
}

div.cmf-skinned-text {
    padding: 5px 7px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

/* Custom file input */

.fileupload {
    position: relative;
}

.fileupload #uploadmsg {
    display: block;
    position: absolute;
    top: 20px;
    left: 350px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    font-size: 11px;
}

.fileupload #uploadmsg.loading {
    background: url(/images/admin/ajax-loader.gif) center left no-repeat;
    width: 30px;
    padding-left: 20px;
}

input.file {
    width: 250px;
    height: 20px;
    background: #fefefe;
    border: 1px solid #bbb;
    border-right: 0;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 4px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
}

.note {
    padding-left: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #757575;
    vertical-align: middle;
}

.note.error {
    color: #e3302c;
}

input.submit {
    width: 85px;
    height: 30px;
    line-height: 30px;
    background: url(/images/admin/btns.gif) top center no-repeat;
    border: 0;
    font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0 #0a5482;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

input.submit:hover {
    background: url(/images/admin/btns_.gif) top center no-repeat;
    text-shadow: 1px 1px 0 #b55f10;
}

input.submit.tiny {
    width: 105px;
    height: 20px;
    line-height: 20px;
    padding-bottom: 2px;
    vertical-align: middle;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
    background: url(/images/admin/tiny.gif) top center no-repeat;
}

input.submit.tiny.red {
	background: url(/images/admin/tiny_red.gif) top center no-repeat;
}

input.submit.tiny:hover {
    background: url(/images/admin/tiny_.gif) top center no-repeat;
}

input.submit.mid {
    width: 115px;
    background: url(/images/admin/btnm.gif) top center no-repeat;
}

input.submit.mid:hover {
    background: url(/images/admin/btnm_.gif) top center no-repeat;
}

input.submit.long {
    width: 165px;
    background: url(/images/admin/btnb.gif) top center no-repeat;
}

input.submit.long:hover {
    background: url(/images/admin/btnb_.gif) top center no-repeat;
}

.form .editor {
	border: 1px solid red;
}

.errorMessage {
    color: #E3302C;
    margin-bottom:10px;
}

.checkbox_input {
    width: 13px;
    float: left;
    margin: 5px 14px 0 0;
}

.checkbox_label {
    padding: 0 !important;
}

input[disabled] {
    background-color: #E0E0E0 !important;
}
